<html class=" js csstransitions">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="{$Think.config.host_url}/application/index/view/index/css/new/style.css">
<link rel="stylesheet" type="text/css" href="{$Think.config.host_url}/application/index/view/index/css/new/index.css">
<script src="{$Think.config.host_url}/application/index/view/index/css/new/jquery.min.js"></script>
<script src="{$Think.config.host_url}/application/index/view/index/css/new/modernizr.custom.97074.js"></script>
	<!--
	描述：header开始
-->
	</head><body><header>
		<div class="wrap">
			<h1 class="logo fl">
				<img src="{$Think.config.host_url}/application/index/view/index/css/new/logo.png">
			</h1>
			<div class="info fr">
				<div class="login fr">
					<a href="http://huge.com/public/index.php/index/index/register">注册</a><span>|</span>
					<a href="http://huge.com/public/index.php/index/index/login">登录</a>
					<!-- 登录 -->

				</div>
			</div>
		</div>
	</header>
	<!--
	描述：header结束
-->
	<div style="background: url(&#39;http://zhulu.com/style2016/img/lgbg.jpg&#39;)no-repeat;height:678px;background-size: cover;">
		<div class="wrap">
			
			
			
			
			
		<!--描述：body部分开始-->
        <div class="bodyBG">
        	<div class="loginMin">
        		<div>
		        	<div class="loginTitle zct">注册逐鹿网</div>
	                <div class="EmailRegister">
	                	 <form name="userinfoform" method="post" enctype="multipart/form-data" action="http://www.zhulu.com/e/member/doaction.php">
	                        <input type="hidden" name="enews" value="register">
							 <input name="groupid" type="hidden" id="groupid" value="">
	                         <input name="tobind" type="hidden" id="tobind" value="0">
	                		<label>昵称</label><input type="text" name="username" id="username" placeholder="请输入3个字符以上" autofocus="autofocus"><br>
	                		<label>邮箱</label><input type="text" name="email" id="email" placeholder="请输入常用邮箱"><br>
	                		<label>密码</label><input type="password" name="password" id="password" placeholder="请输入6-20位组合密码(区分大小写)"><br>
	                		<label>确认</label><input type="password" name="repassword" id="repassword" placeholder="请再次输入密码"><br>
							                		<label></label><input type="submit" name="Submit" value="同意协议并注册" class="submt"><span class="xy"><a href="http://www.zhulu.com/e/member/register/ChangeRegister.php#">《逐鹿网注册协议》</a></span><br>
	                	</form>
	                </div>
	                
	               
	                <div class="securityUser">
	                	<p>已经有逐鹿网账号？<a href="http://www.zhulu.com/e/member/login/">立即登录</a></p>
	                   
	                </div>
                </div>
        	</div>
        </div>
        
		<!--描述：body部分结束-->
			

		</div>

	</div>
	<div class="footer">
		<div class="wrap">
			
		</div>

		<div class="keep">
			<div class="wrap">
				
			</div>
		</div>
	</div>
</body>
</html>